<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

<ul>
  <li><a {% if request.path=='/' %}class="active"{% endif %} href="/">Home</a></li>
  <li><a {% if request.path=='/chart1' %}class="active"{% endif %} href="chart1">Wyniki z uczenia bez danych pogodowych</a></li>
  <li><a {% if request.path=='/chart2' %}class="active"{% endif %} href="chart2">Wyniki z uczenia z danymi pogodowymi</a></li>
  <li><a {% if request.path=='/chart3' %}class="active"{% endif %} href="chart3">Prognoza</a></li>
  <li><a {% if request.path=='/chart4' %}class="active"{% endif %} href="chart4">Historyczne dane z ostatniej doby</a></li>
  <li><a {% if request.path=='/about' %}class="active"{% endif %} href="about">O nas</a></li>
</ul>


<div style="margin-left:250px;padding:1px 16px;height:1000px;">
  <h2>{{header}}</h2>
  <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
  <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
</div>

</body>
</html>


